
.logo{
  margin-top: -2px;
    margin-left: 20px;
    max-height: 40px;
}

  .nav-item{
    list-style: none;
    display: inline;
  
  }

body {
  background: url("../imagenes/FondoP.jpg");
  
}

.contenedorLogo {
  max-width: 265px;
}

.recuperarContraseña {
  font-size: 13px;
}

.tamañoMaximo {
  max-width: 700px;
}

.colorAlerta{
  color: rgb(17, 175, 64);
}

#TextNav {
  color: white;
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
  margin-right: 5px;
}



